{# % extends 'partials/_master.twig' % #}

<!DOCTYPE html>
<html lang="{{ htmllang() }}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{# make sure we always display a proper title: The record's title if there is one, appended with the
	sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
	<title>
	{%- if record.title is defined %}{{ record.title|striptags }} | {% endif -%}
	{{ config.get('general/sitename') -}}
	{% if record.title is not defined and config.get('general/payoff') %} | {{ config.get('general/payoff') }}{% endif -%}
	</title>
	<link rel="stylesheet" href="{{ asset('css/normalize.css', 'theme') }}">
	<link rel="stylesheet" href="{{ asset('css/grid.css', 'theme') }}">
	<link rel="stylesheet" href="{{ asset('css/item.css', 'theme') }}">
	<link rel="stylesheet" href="{{ asset('css/flipcard.css', 'theme') }}">
	<link rel="stylesheet" href="{{ asset('css/searchform.css', 'theme') }}">
	<link rel="stylesheet" href="{{ asset('css/typefilters.css', 'theme') }}">
	<link rel="stylesheet" href="{{ asset('css/delete.css', 'theme') }}">
	<link rel="stylesheet" href="{{ asset('css/save.css', 'theme') }}">
	<link rel="stylesheet" href="{{ asset('css/aos.css', 'theme') }}">

</head>


<body>

	<div class="container"><!--container-->
		
		<ul class="grid" id="list-1">
			
			<!--search button-->
			<li class="button" id="quick-search">
				<div class="thecard">
					<div class="thefront" style="background-image: url('/theme/skeleton-2020/images/speech-search.svg');background-size: 85%;"></div>
					<div class="flex-me theback">
				
					<!--Google search-->
					<!--form autocomplete="off" id="fcsearch" method="get" action="https://www.google.com/search"-->
					<form autocomplete="off" id="fcsearch" method="get" action="/search">
					<input type="hidden" name="q" id="transcript" placeholder="Speak..." />
					</form><!--END Google search -->
					
					<!--BOLT search
					<form method="get" action="/search" id="searchform-inline" enctype="text/plain">
					<input type="search" value="" placeholder="Search …" name="search" >
					<button type="submit">Search</button>
					</form> END BOLT search-->

				
						
					<button id="mic" class="off" onclick="startButton();"></button>
					<!--save the on / off status in the classlist of this button-->
				
					</div>
				</div>
				<div class="item-title"><h2>Zoeken</h2></div>
				<div class="item-desc"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec enim diam vulputate ut pharetra sit amet aliquam id. Sed blandit libero volutpat sed cras ornare arcu dui. Proin fermentum leo vel orci porta non pulvinar neque. Habitant morbi tristique senectus et netus et malesuada fames ac. Elementum eu facilisis sed odio morbi. Accumsan in nisl nisi scelerisque eu ultrices vitae. In nulla posuere sollicitudin aliquam.</p></div>
			</li><!--END search button-->

			
			<!--previous item button-->
			<li class="button" id="previous-item">
				<div class="thecard">
					<div class="thefront" style="background-image: url('/theme/skeleton-2020/images/previous.svg');"></div>
					<div class="theback" style="background-image: url('/theme/skeleton-2020/images/previous.svg');"></div>
				</div>
				<div class="item-title"><h2>Vorige</h2></div>
				<div class="item-desc"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec enim diam vulputate ut pharetra sit amet aliquam id. Sed blandit libero volutpat sed cras ornare arcu dui. Proin fermentum leo vel orci porta non pulvinar neque. Habitant morbi tristique senectus et netus et malesuada fames ac. Elementum eu facilisis sed odio morbi. Accumsan in nisl nisi scelerisque eu ultrices vitae. In nulla posuere sollicitudin aliquam.</p></div>
			</li><!--END previous item button-->
				
			<!--title-->	
			<li class="button item-title"><h2>Welke faciliteiten zijn er?</h2></li><!--text as "button"-->
			<!--END title-->
			
			
				
			<!--classic search button -->
			<li class="button" id="search-button">
				<div class="thecard">
					<div class="thefront" style="background-image: url('/theme/skeleton-2020/images/search.svg');background-size: 60%;"></div>
					<div class="theback" style="background-image: url('/theme/skeleton-2020/images/search.svg');background-size: 60%;"></div>
				</div>
				<div class="item-title"><h2>Zoekuitleg</h2></div>
				<div class="item-desc"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec enim diam vulputate ut pharetra sit amet aliquam id. Sed blandit libero volutpat sed cras ornare arcu dui. Proin fermentum leo vel orci porta non pulvinar neque. Habitant morbi tristique senectus et netus et malesuada fames ac. Elementum eu facilisis sed odio morbi. Accumsan in nisl nisi scelerisque eu ultrices vitae. In nulla posuere sollicitudin aliquam.</p></div>
			</li><!--END classic search button -->
			
			<!--help button -->
			<li class="button" id="help-button">
				<div class="thecard">
					<div class="thefront" style="background-image: url('/theme/skeleton-2020/images/help.svg');"></div>
					<div class="theback" style="background-image: url('/theme/skeleton-2020/images/help.svg');"></div>
				</div>
				<div class="item-title"><h2>Help</h2></div>
				<div class="item-desc"><p>Selecteer, drag, drop, download, verwijder of begin opnieuw. Alle tegels met facliteiten laten zich over het scherm verplaatsen. Onder alle omdraaiende knoppen zit uitleg verstopt. De tegel die je selecteert en vergroot laat meer lezen over die faciliteit. <br><br>Op zoek naar nog meer inspiratie? Selecteer eens een ander (kleur)thema en ververs het scherm. Resultaten kwijt? Bewaar je tegels voortaan op het werkblad hieronder</p></div>
			</li><!--END help button-->
			
			
			<!--text-->
			<li class="button item-desc"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec enim diam vulputate ut pharetra sit amet aliquam id. Sed blandit libero volutpat sed cras ornare arcu dui. Proin fermentum leo vel orci porta non pulvinar neque. Habitant morbi tristique senectus et netus et malesuada fames ac. Elementum eu facilisis sed odio morbi. Accumsan in nisl nisi scelerisque eu ultrices vitae. In nulla posuere sollicitudin aliquam.</p></li>
			<!--END text-->
			
		
			
			<!--refresh button -->
			<li class="button" id="refresh-button">
				<div class="thecard">
					<div class="thefront" style="background-image: url('/theme/skeleton-2020/images/refresh.svg');background-size: 80%;"></div>
					<div class="theback" style="background-image: url('/theme/skeleton-2020/images/refresh.svg');background-size: 80%;"></div>
				</div>
				<div class="item-title"><h2>Refresh</h2></div>
				<div class="item-desc"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec enim diam vulputate ut pharetra sit amet aliquam id. Sed blandit libero volutpat sed cras ornare arcu dui. Proin fermentum leo vel orci porta non pulvinar neque. Habitant morbi tristique senectus et netus et malesuada fames ac. Elementum eu facilisis sed odio morbi. Accumsan in nisl nisi scelerisque eu ultrices vitae. In nulla posuere sollicitudin aliquam.</p></div>
			</li><!--END refresh button-->
			
			
			

			<!--type faciliteit button-->
			<li class="flex-me button" id="type-filter">
				<div class="threebythreegrid">
					<button id="inspirations" onclick="toggleType('type-filter','inspirations', '#ce2455');" ondblclick="refreshScreen();"></button>
					<button id="hardware" onclick="toggleType('type-filter','hardware', '#FAF0CA');" ondblclick="refreshScreen();"></button>
					<button id="pages" class="active" onclick="toggleType('type-filter','pages', '#F4D35E');" ondblclick="refreshScreen();"></button>
					<button id="field" class="active" onclick="toggleType('type-filter','field', '#70142c');" ondblclick="refreshScreen();"></button>
					<button id="expertise" class="active" onclick="toggleType('type-filter','expertise', '#0D3B66');" ondblclick="refreshScreen();"></button>
					<button id="location" class="active" onclick="toggleType('type-filter','location', '#5C9EAD');" ondblclick="refreshScreen();"></button>
					<button id="course" class="active" onclick="toggleType('type-filter','course', '#6a785c');" ondblclick="refreshScreen();"></button>
					<button id="organisation" class="active" onclick="toggleType('type-filter','organisation', '#000005');" ondblclick="refreshScreen();"></button>
					<button id="hanze" class="active" onclick="toggleType('type-filter','hanze', '#ff9933');" ondblclick="refreshScreen();"></button>
					</div>
				<div class="item-title"><h2>Welke faciliteiten zijn er?</h2></div>
				<div class="item-desc"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec enim diam vulputate ut pharetra sit amet aliquam id. Sed blandit libero volutpat sed cras ornare arcu dui. Proin fermentum leo vel orci porta non pulvinar neque. Habitant morbi tristique senectus et netus et malesuada fames ac. Elementum eu facilisis sed odio morbi. Accumsan in nisl nisi scelerisque eu ultrices vitae. In nulla posuere sollicitudin aliquam.</p></div>
			</li><!--END type faciliteit button-->
			
			<!--home button-->
			<li class="button" id="home-button">
				<div class="thecard">
					<div class="thefront" style="background-image: url('/theme/skeleton-2020/images/home.svg');background-size: 85%;"></div>
					<div class="theback" style="background-image: url('/theme/skeleton-2020/images/home.svg');background-size: 85%;"></div>
				</div>
				<div class="item-title"><h2>Home</h2></div>
				<div class="item-desc"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec enim diam vulputate ut pharetra sit amet aliquam id. Sed blandit libero volutpat sed cras ornare arcu dui. Proin fermentum leo vel orci porta non pulvinar neque. Habitant morbi tristique senectus et netus et malesuada fames ac. Elementum eu facilisis sed odio morbi. Accumsan in nisl nisi scelerisque eu ultrices vitae. In nulla posuere sollicitudin aliquam.</p></div>
			</li><!--END home item button-->
			

			<!--next item button-->
			<li class="button" id="next-item">
				<div class="thecard">
					<div class="thefront" style="background-image: url('/theme/skeleton-2020/images/next.svg');"></div>
					<div class="theback" style="background-image: url('/theme/skeleton-2020/images/next.svg');"></div>
				</div>
				<div class="item-title"><h2>Volgende</h2></div>
				<div class="item-desc"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec enim diam vulputate ut pharetra sit amet aliquam id. Sed blandit libero volutpat sed cras ornare arcu dui. Proin fermentum leo vel orci porta non pulvinar neque. Habitant morbi tristique senectus et netus et malesuada fames ac. Elementum eu facilisis sed odio morbi. Accumsan in nisl nisi scelerisque eu ultrices vitae. In nulla posuere sollicitudin aliquam.</p></div>
			</li><!--END next item button-->

			<!--append tiles dynamicaaly after the buttons-->
			
			<!--END tiles-->
		
		</ul>
		
		<div style="height: 3px;background-color:#444;"></div>
				
		<ul class="grid" id="list-2">
		
			
			<!--save button -->
			<li class="button" id="save-button">
				<div class="thecard">
					<div class="thefront" style="background-image: url('/theme/skeleton-2020/images/save.svg');background-size: 55%;"></div>
					<div class="theback" style="background-image: url('/theme/skeleton-2020/images/save.svg');background-size: 55%;"></div>
				</div>
				<div class="item-title"><h2>Bewaren</h2></div>
				<div class="item-desc"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec enim diam vulputate ut pharetra sit amet aliquam id. Sed blandit libero volutpat sed cras ornare arcu dui. Proin fermentum leo vel orci porta non pulvinar neque. Habitant morbi tristique senectus et netus et malesuada fames ac. Elementum eu facilisis sed odio morbi. Accumsan in nisl nisi scelerisque eu ultrices vitae. In nulla posuere sollicitudin aliquam.</p></div>
			</li><!--END save button-->
			
			<!--empty tiles facilitate dragging-->
			<!--li class="blank"></li>
			<li class="blank"></li>
			<li class="blank"></li-->
			<!--END empty tiles facilitate dragging-->
			
			<!--delete button -->
			<li class="button" id="delete-button">
				<div class="thecard">
					<div class="thefront" style="background-image: url('/theme/skeleton-2020/images/delete-forever.svg');background-size: 85%;"></div>
					<div class="theback" style="background-image: url('/theme/skeleton-2020/images/delete-forever.svg');background-size: 85%;"></div>
				</div>
				<div class="item-title"><h2>Verwijderen</h2></div>
				<div class="item-desc"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec enim diam vulputate ut pharetra sit amet aliquam id. Sed blandit libero volutpat sed cras ornare arcu dui. Proin fermentum leo vel orci porta non pulvinar neque. Habitant morbi tristique senectus et netus et malesuada fames ac. Elementum eu facilisis sed odio morbi. Accumsan in nisl nisi scelerisque eu ultrices vitae. In nulla posuere sollicitudin aliquam.</p></div>
			</li><!--END delete button-->
		
			<!--tiles to save or delete are appended by the user to list-2 -->
		
		
		</ul>
	
		
	</div><!--END container-->
<!--JS-->	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script><!--drag & drop support-->
<script src="{{ asset('js/settings.js', 'theme') }}"></script>
<script src="{{ asset('js/eventhandlers.js', 'theme') }}"></script>
<script src="{{ asset('js/sortable.js', 'theme') }}"></script>
<script src="{{ asset('js/list-sort-settings.js', 'theme') }}"></script>
<script src="{{ asset('js/speech.js', 'theme') }}"></script>
<script src="{{ asset('js/functions.js', 'theme') }}"></script>
<script src="{{ asset('js/json.js', 'theme') }}"></script>
<script src="{{ asset('js/item.js', 'theme') }}"></script>
<script src="{{ asset('js/aos.js', 'theme') }}"></script>

<!--end JS-->
	<script>
	
	
	$( document ).ready(function() {
	
	// initialise screen /////////////////////////////

	

		
		$("body").on('dblclick', '#delete-button', deleteItems); // add eventhandlers to the buttons
		$("body").on('dblclick', '#save-button', saveItems);
		$("body").on('dblclick', '#next-item', nextItems);
		$("body").on('dblclick', '#previous-item', previousItems);
		$("body").on('dblclick', '#home-button', resetScreen);
		$("body").on('dblclick', '#refresh-button', refreshScreen);
	
		
		toggleType('type-filter','inspirations', '#ce2455'); // set type filter //


		//step 2. get data
		getItems();
		

		//step 3. add some generic events to the buttons
		$(".button").on("click", this,showDetails);


		//step 4. enable animatie en positionering (on scroll, insert and delete)
		AOS.init({
			easing: 'ease-in-out-sine'
		});
		

		console.log( "Document ready! No errors on load." );
		});
		
		
		
		
	
	</script>
	

</body>
</html>
